.static-menu{
    background-color: rgb(236, 224, 224);
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: .3rem 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    gap: 1.2rem;
    .menu-detail{
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        svg{
            width: 30px;
            color: black;
        }
        i{
            color: black;
            font-size: 2rem;
        }
    }
}