* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.selected-itm-container {
  width: 100%;
  padding: 2rem 1rem;
  color: white;
  background-color: black;
}
.selected-itm-container .selected-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.selected-itm-container .selected-nav a {
  text-decoration: none;
  color: white;
}
.selected-itm-container .selected-nav h4 {
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.selected-itm-container .selected-nav i {
  font-size: 4rem;
  align-self: center;
}
.selected-itm-container .selected-nav .bxs-heart {
  padding: 0.8rem;
  color: red;
  font-size: 2rem;
  border-radius: 50%;
  border: 3px solid rgb(61, 61, 61);
}
.selected-itm-container .sel-itm-hero {
  width: 100%;
  margin: 2rem;
}
.selected-itm-container .sel-itm-hero img {
  border-top-right-radius: 20rem;
  border-top-left-radius: 20rem;
  width: 80%;
  align-self: center;
}
.selected-itm-container .item-purchas-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}
.selected-itm-container .item-purchas-detail .left-purch {
  width: 60%;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.selected-itm-container .item-purchas-detail .left-purch .rating {
  display: flex;
}
.selected-itm-container .item-purchas-detail .right-purch {
  width: 40%;
}
.selected-itm-container .item-purchas-detail .right-purch .scrol {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: rgb(85, 84, 84);
  font-size: 1.2rem;
  border-radius: 3rem;
  padding: 0.4rem 0.4rem;
  justify-content: space-between;
}
.selected-itm-container .item-purchas-detail .right-purch .scrol .minus, .selected-itm-container .item-purchas-detail .right-purch .scrol .add {
  border-radius: 50%;
  color: black;
  width: 30px;
  background-color: white;
  font-size: 2rem;
  text-align: center;
}
.selected-itm-container .item-purchas-detail .right-purch .scrol .numb {
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.selected-itm-container .colors-sectn {
  display: flex;
  padding: 2rem;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  display: flex;
  border-left: none;
  border-style: dashed;
  border-right: none;
  border-left: none;
  margin-top: 2rem;
  gap: 2rem;
}
.selected-itm-container .colors-sectn h4 {
  font-size: 1rem;
}
.selected-itm-container .colors-sectn .circle {
  width: 30px;
  height: 30px;
  background-color: rgb(34, 2, 66);
  border-radius: 50%;
  align-self: center;
}
.selected-itm-container .colors-sectn .circles-wrapper {
  background-color: rgb(85, 87, 87);
  display: flex;
  width: 60%;
  gap: 1rem;
  border-radius: 3rem;
  padding: 0.3rem;
}
.selected-itm-container .colors-sectn .circles-wrapper p {
  text-align: center;
}
.selected-itm-container .colors-sectn .circles-wrapper .c1 {
  background-color: red;
  width: 30px;
  height: 30px;
}
.selected-itm-container .colors-sectn .circles-wrapper .c2 {
  background-color: yellow;
}
.selected-itm-container .colors-sectn .circles-wrapper .c3 {
  background-color: rgb(219, 59, 10);
}
.selected-itm-container .colors-sectn .circles-wrapper .c5 {
  background-color: rgb(243, 17, 224);
}
.selected-itm-container .decription {
  font-size: 1rem;
  margin-top: 2rem;
}
.selected-itm-container .cart-sectn {
  width: 100%;
  margin-top: 2rem;
}
.selected-itm-container .cart-sectn .cart-wrapper {
  background-color: aliceblue;
  color: black;
  padding: 1.3rem;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  font-size: 1.2rem;
}
.selected-itm-container .cart-sectn .cart-wrapper .cart-details {
  display: flex;
  font-size: 1rem;
}/*# sourceMappingURL=select.css.map */